.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.app{
    font-family: 'Indie Flower', cursive;
}

.component-container{
    display: flex;
    overflow: hidden;
}