.list {
    height: 511px;
    overflow: scroll;
}

.item {
    list-style-type: none;
    border: 1px solid #000;
    border-bottom: none;
    line-height: 45px;
    width: 60vw;
    height: 50px;
}
.item:last-child{
    border: 1px solid #000;
}