.list {
    height: 511px;
    width: 60vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.item {
    list-style-type: none;
    border: 1px solid #000;
    border-bottom: none;
    line-height: 55px;
    height: 50px;
}

.item:last-child {
    border: 1px solid #000;
}
